p{
     color: red;
     text-align: justify;
}

h1{
    color:blue; /*cor da fonte*/
    text-align: center; /alinhamento do texto*/
    font-size: 30px; /*tamanho da fonte*/
}

#paragrafo1{
    color:aqua;
}
#paragrafo2{
    background-color: aqua;
}